<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.mapper.SysMenuMapper">
    <insert id="add" useGeneratedKeys="true" keyProperty="id">
        insert into sys_menu(parent_id, menu_name, path, component, perms, menu_type, icon,
                             sort, status, delete_flag, create_time, update_time)
        VALUES (#{parentId}, #{menuName}, #{path}, #{component}, #{perms}, #{menuType},
                #{icon}, #{sort}, #{status}, #{deleteFlag}, #{createTime}, #{updateTime})
    </insert>
    <update id="update">
        update sys_menu
        <set>
            <if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
            <if test="menuName != null and menuName != ''">menu_name = #{menuName},</if>
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="component != null">component = #{component},</if>
            <if test="perms != null">perms = #{perms},</if>
            <if test="menuType != null">menu_type = #{menuType},</if>
            <if test="icon != null">icon = #{icon},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="status != null">status = #{status},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </set>
        where id = #{id}
    </update>

    <update id="updateChildMenuStatus">
        WITH RECURSIVE menu_tree AS (
            SELECT id FROM sys_menu WHERE id = #{id}
            UNION ALL
            SELECT child.id
            FROM sys_menu child
            INNER JOIN menu_tree parent ON child.parent_id = parent.id
        )
        UPDATE sys_menu
        SET status = #{status}, update_time = NOW()
        WHERE id IN (SELECT id FROM menu_tree);
    </update>
    <update id="batchUpdateByIds">
        UPDATE sys_menu
        SET
        delete_flag = #{menu.deleteFlag},
        update_time = #{menu.updateTime}
        WHERE id IN
        <foreach collection="allMenuIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

    <!--    彻底删除角色-->
    <delete id="delete">
        WITH RECURSIVE menu_tree AS (
            SELECT id FROM sys_menu WHERE id = #{id}
            UNION ALL
            SELECT child.id FROM sys_menu child
                     INNER JOIN menu_tree parent ON child.parent_id = parent.id
        )
        DELETE FROM sys_menu WHERE id IN (SELECT id FROM menu_tree);
    </delete>

    <select id="selectMenuListByRoleIds" resultType="com.blog.pojo.entity.SysMenu">
        SELECT DISTINCT m.*
        FROM sys_role_menu rm
        INNER JOIN sys_menu m ON rm.menu_id = m.id
        WHERE rm.role_id IN
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
        AND m.status = 1
        AND m.delete_flag = 0
        ORDER BY m.sort ASC
    </select>
    <select id="selectPermsByUserId" resultType="java.lang.String">
        SELECT DISTINCT sm.perms
        FROM sys_user su
                 LEFT JOIN sys_user_role sur ON su.id = sur.user_id
                 LEFT JOIN sys_role_menu srm ON sur.role_id = srm.role_id
                 LEFT JOIN sys_menu sm ON srm.menu_id = sm.id
        WHERE su.id = #{userId}
          AND su.delete_flag = 0
          AND sm.perms IS NOT NULL
          AND sm.perms != ''
          AND sm.status = 1
          AND sm.delete_flag = 0
    </select>
    <select id="selectAllPerms" resultType="java.lang.String">
        SELECT DISTINCT sm.perms
        FROM sys_menu sm
        WHERE sm.perms IS NOT NULL
          AND sm.perms != ''
          AND sm.status = 1
          AND sm.delete_flag = 0
    </select>
    <select id="getAllChildMenuIds" resultType="java.lang.Long">
        WITH RECURSIVE menu_tree AS (
            SELECT id FROM sys_menu WHERE id = #{id}
            UNION ALL
            SELECT child.id
            FROM sys_menu child
                     INNER JOIN menu_tree parent ON child.parent_id = parent.id
        )
        SELECT id FROM menu_tree;
    </select>
    <select id="selectById" resultType="com.blog.pojo.entity.SysMenu">
        SELECT id,status FROM sys_menu WHERE id = #{id}
    </select>
    <select id="selectMenuList" resultType="com.blog.pojo.entity.SysMenu">
        select * from sys_menu where delete_flag = 0
        ORDER BY sort ASC, id ASC
    </select>
    <select id="selectAllMenuList" resultType="com.blog.pojo.entity.SysMenu">
        select * from sys_menu
        <where>
            <if test="status != null ">
                AND status = #{status}
            </if>
            <if test="deleteFlag != null">
                AND delete_flag = #{deleteFlag}
            </if>
        </where>
        ORDER BY sort ASC, id ASC
    </select>
    <select id="selectBatchIds" resultType="com.blog.pojo.entity.SysMenu">
        SELECT id, menu_name FROM sys_menu
        WHERE id IN
        <foreach collection="menuIds" item="menuId" open="(" separator="," close=")">
            #{menuId}
        </foreach>
    </select>

    <select id="getAllParentMenuIds" resultType="com.blog.pojo.entity.SysMenu">
        WITH RECURSIVE parent_tree AS (
            SELECT id,parent_id,perms FROM sys_menu WHERE id = #{menuId}
            UNION ALL
            SELECT p.id,p.parent_id,p.perms
            FROM sys_menu p
                     INNER JOIN parent_tree pt ON p.id = pt.parent_id
        )
        SELECT * FROM parent_tree;
    </select>

    <!-- 检查指定菜单的祖先（包括自身）中是否有保护权限 -->
    <select id="existsProtectedAncestor" resultType="java.lang.Boolean">
        WITH RECURSIVE menu_ancestors AS (
            SELECT id, parent_id, perms
            FROM sys_menu
            WHERE id = #{menuId}
            UNION ALL
            SELECT m.id, m.parent_id, m.perms
            FROM sys_menu m
                     INNER JOIN menu_ancestors a ON m.id = a.parent_id
        )
        SELECT EXISTS (
            SELECT 1 FROM menu_ancestors
            WHERE perms IN ('sys:manage', 'sys:recycle')
        )
    </select>

    <!-- 查询指定 ID 列表中直接包含保护权限的个数 -->
    <select id="countProtectedInIds" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_menu
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND perms IN ('sys:manage', 'sys:recycle')
    </select>
</mapper>
